<a href="https://colab.research.google.com/github/RaymondLeong94/hacker_rank_practice_RL/blob/main/hacker_rank_practice_iterables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task

You are given a string .
Your task is to print all possible combinations, up to size , of the string in lexicographic sorted order.

Input Format

A single line containing the string  and integer value  separated by a space.

Constraints


The string contains only UPPERCASE characters.

Output Format

Print the different combinations of string  on separate lines.

In [1]:
#itertools.combinations(iterable, r)
from itertools import permutations
#split input


str1, int1 = input().split()
int1 = int(int1)
while int1 >= 0:
    for i in sorted(permutations(str1, int1)):
        print (''.join(i))
        int1 = int1 + 1
    else:
        break

hacker 2
ac
ae
ah
ak
ar
ca
ce
ch
ck
cr
ea
ec
eh
ek
er
ha
hc
he
hk
hr
ka
kc
ke
kh
kr
ra
rc
re
rh
rk

Task

You are given a string .
Your task is to print all possible combinations, up to size , of the string in lexicographic sorted order.

Input Format

A single line containing the string  and integer value  separated by a space.

Constraints


The string contains only UPPERCASE characters.

Output Format

Print the different combinations of string  on separate lines.

Sample Input

In [ ]:
from itertools import combinations_with_replacement
word , length  = input().split()
for i in range(2, int(length)+1):
    for j in combinations_with_replacement(sorted(word), i):
        print (''.join(j))

a 2
aa

You are given a string . Suppose a character '' occurs consecutively  times in the string. Replace these consecutive occurrences of the character '' with  in the string.

For a better understanding of the problem, check the explanation.

Input Format

A single line of input consisting of the string .

Output Format

A single line of output consisting of the modified string.

Constraints

All the characters of  denote integers between  and .


Sample Input

In [29]:
# importing the groupby method
from itertools import groupby

# using for loop to iterate through the string
for k, c in groupby(input()):

    #printing the output
    print("(%d, %d)" % (len(list(c)), int(k)), end=' ')

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

In [30]:
groupby(input())

1222311

[['A', 'A', 'A', 'A'], ['B', 'B', 'B'], ['C', 'C'], ['D'], ['A', 'A'], ['B']]

In [ ]:
#count how many objects are in value count
for